
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="container">
    <br />
    <h3>Sweet Alert Sayfası </h3>
    <button class="btn btn-warning" id="btn1">Button 1</button>
</div>


<script type="text/javascript">
    $("#btn1").click(function)() {
        swal("Merhaba Dünya", "Nasılsın?");
    })
</script>
