<section class="w3l-testimonials" id="testimonials">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-4 py-md-3 py-2 pb-lg-0">
            <h5 class="title-subw3hny text-center mb-1">Değerlendirmeler</h5>
            <h3 class="title-w3l two text-center mb-sm-5 mb-4">
                Mutlu Müşteriler & <span class="inn-text">Referanslarımız</span>
            </h3>
            <!-- /grids -->
            <div class="testimonial-width">
                <div class="owl-two row">
                    <div class="col-lg-4 col-md-6 item mt-md-5 mt-4">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <i class="fas fa-quote-right"></i>
                                <blockquote>
                                    <q>
                                        Bu kurs platformunu öğrendiğimden beri ek bir şey alıp, kendimi geliştirmek için farklı kaynaklar aramama gerek kalmadı. Her türden kurs ve eğitim var. Çok yeterli bir platform.
                                    </q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="peopl align-self">
                                        <h3>Ali Dere</h3>
                                        <p class="indentity">İzmir</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item mt-md-5 mt-4">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <i class="fas fa-quote-right"></i>
                                <blockquote>
                                    <q>
                                        Kaliteli eğitmenler ile birlikte, her türden eğitimin bulunduğu bir platform. Web Geliştirme kursu satın almıştım ve çok verimli bir süreç geçirerek kursu bitirdim. Burdan kendimi geliştirmeye devam!
                                    </q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="peopl align-self">
                                        <h3>Buse Şeker</h3>
                                        <p class="indentity">Ankara</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item mt-md-5 mt-4">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <i class="fas fa-quote-right"></i>
                                <blockquote>
                                    <q>
                                        Her türlü teknik desteğin sağlandığı, ekibe her sorunda ulaşabildiğim ve her çözüme de kolaylıkla ulaşabildiğim bir platform olmuş. Dönemin en iyi eğitim platformu burası!
                                    </q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="peopl align-self">
                                        <h3>Eren Uygun</h3>
                                        <p class="indentity">Istanbul</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /grids -->
    </div>
    <!-- //grids -->
</section>