@model List<Edukator.EntityLayer.Concrete.AboutGrid>

<section class="w3l-bottom-grids-6 py-5" id="grids">
    <div class="container py-md-5 py-2">
        <div class="grids-area-hny row text-left pt-lg-5 mt-lg-5">
            <div class="col-lg-4 col-md-6 grids-feature pr-lg-5">
                <div class="area-box">
                    <span class="fas fa-users"></span>
                    <h4><a href="#feature" class="title-head">Alanında uzman eğitmenler ile çalışın.</a></h4>
                    <p>
                        Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor
                        et
                        amet labore et dolore elit.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-5">
                <div class="area-box">
                    <span class="fas fa-laptop-code"></span>
                    <h4>
                        <a href="#feature" class="title-head">Yeni nesil güncel teknolojileri takip edin.</a>
                    </h4>
                    <p>
                        Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor
                        et
                        amet labore et dolore elit.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-5 pl-lg-5">
                <div class="area-box">
                    <span class="fas fa-book-open"></span>
                    <h4><a href="#feature" class="title-head">Her türde ders veren öğretmenler ile çalışın </a></h4>
                    <p>
                        Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor
                        et
                        amet labore et dolore elit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>